<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" integrity="<KEY>" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="<KEY>" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
	<title>Añadir consola</title>
</head>
<body class="bg-dark text-light">
	<header class="container">
		<h1>Añadir Consola</h1>
	</header>
	<main class="container text-light">
		<form action="#" method="POST" th:action="@{/mostrarconsolas}" th:object="${consola}">
			<fieldset>
				<div class="form-group mb-3">
					<label for="nombre">Nombre</label>
					<input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre de la consola" required>
				</div>
				<div class="form-group mb-3">
					<label for="description">Descripción</label>
					<textarea th:field="*{description}" cols="30" rows="10" class="form-control" required></textarea>
				</div>
				<div class="container">
					<div class="row">
						<div class="form-group mb-3 col-md-3">
							<label for="fabricante">Fabricante</label>
							<input type="text" th:field="*{fabricante}" class="form-control" placeholder="Fabricante de la consola" required>
						</div>
						<div class="form-group mb-3 col-md-3">
							<label for="precio">Precio</label>
							<input type="number" th:field="*{precio}" step="0.01" class="form-control" required>
						</div>
						<div class="form-group mb-3 col-md-3">
							<label for="cantidad">Cantidad</label>
							<input type="number" th:field="*{cantidad}" class="form-control" required>
						</div>
						<div class="form-group mb-3 col-md-3">
							<label for="ventas">Ventas</label>
							<input type="number" th:field="*{ventas}" class="form-control" required>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="form-group mb-3 col-md-6">
							<label for="fechaLanzamiento">Fecha de lanzamiento</label>
							<input type="date" th:field="*{fechaLanzamiento}" class="form-control" required>
						</div>
						<div class="form-group mb-3 col-md-6">
							<label for="llegadaAlMercado">Llegada a tienda</label>
							<input type="date" th:field="*{llegadaAlMercado}" class="form-control" required>
						</div>
					</div>
				</div>
				<div class="form-group mb-3">
					<label for="imagen">Ruta de Carátula</label>
					<input type="url" th:field="*{imagen}" class="form-control" placeholder="Ruta de la imagen" required>
				</div>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</fieldset>
		</form>
	</main>
</body>
</html>