<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Establecer descuento para un producto específico en la tienda.">
  <title>Establecer descuento</title>
  <link rel="icon" type="image/x-icon" href="../static/img/Logo/New_Retros_Games_Logo.ico" th:href="@{/img/Logo/New_Retros_Games_Logo.ico}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>
<body class="bg-dark">
  <header th:replace="~{fragments/headerconfiguracion::header}"></header>
  <main>
    <section class="container">
      <article class="row my-4">
        <h1 class="col-12 rounded bg-light text-center">Establecer descuento</h1>
        <form th:action="@{/descuento/modelo}" method="post" class="row g-3 justify-content-center">
          <div class="col-md-6">
            <label for="descuento" class="form-label text-light">Descuento</label>
            <input type="number" id="descuento" name="descuento" min="0" max="100" class="form-control" step="1" th:value="0" required>
          </div>
          <div class="col-md-6">
            <label for="fabricante" class="form-label text-light">Fabricante</label>
            <input type="text" name="fabricante" id="fabricante" class="form-control" placeholder="Fabricante del producto" required>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
          </div>
        </form>
      </article>
    </section>
  </main>
  <footer th:replace="~{fragments/footer::footer}"></footer>
  </body>
</html>