<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
</head>

<body class="bg-dark">
    <h1 class="text-light">Agregar Juego</h1>
    <div class="container text-light">
        <form action="#" method="POST" th:action="@{/mostrarjuego/{id}(id=${juego.id})}" th:object="${juego}">
            <fieldset>
                <div class="form-group mb-3">
                    <label for="id">Id</label>
                    <input type="number" th:field="*{id}" class="form-control" readonly>
                </div>
                <div class="form-group mb-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" th:field="*{nombre}" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="description">Descripción</label><br />
                    <textarea th:field="*{description}" cols="30" rows="10" class="form-control"></textarea><br />
                </div>
                <div class="form-group mb-3">
                    <label for="precio">Precio</label>
                    <input type="number" th:field="*{precio}" step="0.01" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" th:field="*{cantidad}" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="ventas">Ventas</label>
                    <input type="number" th:field="*{ventas}" class="form-control">
                </div>
                <div class="form-check mb-3">
                    <label for="nuevo">Nuevo</label>
                    <input type="checkbox" th:field="*{nuevo}" class="form-check-input">
                </div>
                <div class="form-group mb-3">
                    <label for="genero">Genero</label>
                    <input type="text" th:field="*{genero}" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="numJugadores">Número de jugadores</label>
                    <input type="number" th:field="*{numJugadores}" min="1" th:min="1" max="4" th:max="4"
                        class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="plataforma">Plataforma</label>
                    <select th:field="*{plataforma}" class="form-control">
                        <option value="Wii">Wii</option>
                        <option value="PS3">Play Station 3</option>
                        <option value="XBOX360">XBOX 360</option>
                        <option value="NDS">Nintendo DS</option>
                        <option value="PSP">Play Station Portable</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="fechaLanzamiento">Fecha de lanzamiento</label>
                    <input type="date" th:field="*{fechaLanzamiento}" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="llegadaAlMercado">Llegada a tienda</label>
                    <input type="date" th:field="*{llegadaAlMercado}" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="rutaImagen">Ruta de Carátula</label>
                    <input type="url" th:field="*{rutaImagen}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </fieldset>
        </form>
    </div>
</body>

</html>