<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Consolas retro próximas: Enterate de las próximas reediciones de Wii, PS3 y Xbox 360. Reserva tu unidad con anticipación.">
	<link rel="icon" type="image/x-icon" href="../static/img/Logo/New_Retros_Games_Logo.ico" th:href="@{/img/Logo/New_Retros_Games_Logo.ico}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" integrity="<KEY>" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="<KEY>" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
	<title>Próximas Consolas Retro's Games</title>
</head>
<body class="bg-dark text-light">
    <header th:replace="~{fragments/header::header}"></header>
	<main class="container d-flex flex-column justify-content-center align-items-center">
		<section class="container my-4">
			<div class="row row-cols-2 row-cols-md-4 g-3 justify-content-center">
				<div class="col d-flex">
					<form action="#" th:action="@{/próximamente}" method="get" class="w-100">
						<input type="hidden" name="fabricante" th:value="Nintendo">
						<input type="hidden" name="palabraClave" th:value="${palabraClave}">
						<div class="card flex-fill text-center bg-danger text-light border-0">
							<div class="card-body d-flex align-items-center justify-content-center">
								<input type="image" src="#" th:src="@{https://th.bing.com/th/id/OIP.XZA16FwtVj9poOVXgnjffwAAAA?cb=iwp1&rs=1&pid=ImgDetMain}" alt="Nintendo" th:alt="Nintendo" class="mb-2 img-fluid rounded-circle" width="80px">
							</div>
						</div>
					</form>
				</div>
				<div class="col d-flex">
					<form action="#" th:action="@{/próximamente}" method="get" class="w-100">
						<input type="hidden" name="fabricante" th:value="Sony">
						<input type="hidden" name="palabraClave" th:value="${palabraClave}">
						<div class="card flex-fill text-center bg-primary text-light border-0">
							<div class="card-body d-flex align-items-center justify-content-center">
								<input type="image" src="#" th:src="@{https://th.bing.com/th/id/OIP.h5TEsp73Roz0wkNhsqiMdwAAAA?w=120&h=120&c=7&r=0&o=7&cb=iwp1&pid=1.7&rm=3}" alt="Sony" th:alt="Sony" class="mb-2 img-fluid rounded-circle" width="80px">
							</div>
						</div>

					</form>
				</div>
				<div class="col d-flex">
					<form action="#" th:action="@{/próximamente}" method="get" class="w-100">
						<input type="hidden" name="fabricante" th:value="Microsoft">
						<input type="hidden" name="palabraClave" th:value="${palabraClave}">
						<div class="card flex-fill text-center bg-success text-light border-0">
							<div class="card-body d-flex align-items-center justify-content-center">
								<input type="image" src="#" th:src="@{https://th.bing.com/th/id/OIP.njjIpov-9r4u-CIaTK75GQAAAA?w=150&h=150&c=7&r=0&o=7&cb=iwp1&pid=1.7&rm=3}" alt="Microsoft" th:alt="Microsoft" class="mb-2 img-fluid rounded-circle" width="80px">
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		<section class="container-fluid d-flex justify-content-between align-items-center mb-4">
			<form action="#" th:action="@{/proximamenteconsolas}">
				<div class="d-flex align-items-center">
					<div class="d-flex align-items-center">
						<input type="text" class="form-control" name="palabraClave" id="palabraClave" th:value="${palabraClave}" placeholder="Buscar...">
						<input type="submit" class="btn btn-outline-light ms-2" value="Buscar">
						<a href="#" th:href="@{/proximamenteconsolas}" class="btn btn-outline-secondary">Limpiar</a>
					</div>
				</div>
			</form>
		</section>
	    <section class="container">
		    <div class="row">
				<h1 th:if="${consolasProximas.isEmpty()}" class="col-12 text-danger">No hay ninguna consola que llegue próximamente de momento</h1>
			    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-light d-flex justify-content-center align-items-center flex-column" th:each="consola : ${consolasProximas}">
				    <a th:href="@{/proximamenteconsolas/reserva/{id} (id=${consola.id})}" class="btn btn-light d-flex flex-column justify-content-center align-items-center h-100 w-100">
					    <img src="#" alt="Juego" th:src="${consola.imagen}" th:alt="${consola.nombre}" class="d-block">
					    <h2 th:text="${consola.nombre}" class="text-center"></h2>
					    <h3 class="text-center">
						    Próximamente <span th:text="${consola.llegadaAlMercado}"></span>
					    </h3>
				    </a>
			    </div>
		    </div>
	    </section>
    </main>
    <footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>