<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Próximamente Retro's Games</title>
    <link rel="icon" type="image/x-icon" href="../static/img/Logo/New_Retros_Games_Logo.ico" th:href="@{/img/Logo/New_Retros_Games_Logo.ico}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body class="bg-dark">
    <header th:replace="~{fragments/header::header}"></header>
    <main class="container">
        <section class="container my-4" th:if="${not juegosProximos.isEmpty()}">
            <article class="row row-cols-2 row-cols-md-5 g-3">
                <div class="col d-flex">
                    <form action="#" th:action="@{/próximamente}" method="get" class="w-100">
                        <input type="hidden" name="consola" th:value="${consolas[0].nombre}">
                        <input type="hidden" name="palabraClave" th:value="${palabraClave}">
                        <input type="hidden" name="sort" th:value="${sort}">
                        <div class="card flex-fill text-center bg-danger text-light border-0 w-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <input type="image" src="#" th:src="@{img/Consolas/Wii.png}" alt="Wii" th:alt="${consolas[0].nombre}" class="mb-2 img-fluid rounded-circle" width="80px">
                                <p class="mx-2 d-none d-md-block">Wii</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col d-flex">
                    <form action="#" th:action="@{/próximamente}" method="get" class="w-100">
                        <input type="hidden" name="consola" th:value="${consolas[2].nombre}">
                        <input type="hidden" name="palabraClave" th:value="${palabraClave}">
                        <input type="hidden" name="sort" th:value="${sort}">
                        <div class="card flex-fill text-center bg-primary text-light border-0 w-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <input type="image" src="#" th:src="@{img/Consolas/PS3.png}" alt="PS3" th:alt="${consolas[2].nombre}" class="mb-2 img-fluid rounded-circle" width="80px">
                                <p class="mx-2 d-none d-md-block">PS3</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col d-flex">
                    <form action="#" th:action="@{/próximamente}" method="get" class="w-100">
                        <input type="hidden" name="consola" th:value="${consolas[3].nombre}">
                        <input type="hidden" name="palabraClave" th:value="${palabraClave}">
                        <input type="hidden" name="sort" th:value="${sort}">
                        <div class="card flex-fill text-center bg-success text-light border-0 w-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <input type="image" src="#" th:src="@{img/Consolas/XBOX360.png}" alt="XBOX 360" th:alt="${consolas[3].nombre}" class="mb-2 img-fluid rounded-circle" width="80px">
                                <p class="mx-2 d-none d-md-block">XBOX 360</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col d-flex">
                    <form action="#" th:action="@{/próximamente}" method="get" class="w-100">
                        <input type="hidden" name="consola" th:value="${consolas[1].nombre}">
                        <input type="hidden" name="palabraClave" th:value="${palabraClave}">
                        <input type="hidden" name="sort" th:value="${sort}">
                        <div class="card flex-fill text-center bg-danger text-light border-0 w-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <input type="image" src="#" th:src="@{img/Consolas/NDS.jpg}" alt="PSP" th:alt="${consolas[1].nombre}" class="mb-2 img-fluid rounded-circle" width="80px">
                                <p class="mx-2 d-none d-md-block">NDS</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col d-flex">
                    <form action="#" th:action="@{/próximamente}" method="get" class="w-100">
                        <input type="hidden" name="consola" th:value="${consolas[4].nombre}">
                        <input type="hidden" name="palabraClave" th:value="${palabraClave}">
                        <input type="hidden" name="sort" th:value="${sort}">
                        <div class="card flex-fill text-center bg-primary text-light border-0 w-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <input type="image" src="#" th:src="@{img/Consolas/PSP.png}" alt="PSP" th:alt="${consolas[4].nombre}" class="mb-2 img-fluid rounded-circle" width="80px">
                                <p class="mx-2 d-none d-md-block">PSP</p>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
        </section>
        <section class="container-fluid d-flex justify-content-between align-items-center mb-4" th:if="${not juegosProximos.isEmpty()}">
            <form action="#" th:action="@{/próximamente}" method="get">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex align-items-center flex-wrap">
                        <input type="text" class="form-control" name="palabraClave" id="palabraClave" th:value="${palabraClave}" placeholder="Buscar...">
                        <input type="submit" class="btn btn-outline-light ms-2" value="Buscar">
                        <a href="#" th:href="@{/próximamente}" class="btn btn-outline-secondary">Limpiar</a>
                    </div>

                    <div class="d-flex align-items-center ms-3">
                        <label for="sort" class="text-light me-2">Ordenar por:</label>
                        <select name="sort" id="sort" class="form-select" onchange="this.form.submit()">
                            <option value="" th:selected="${sort == null}">---</option>
                            <option th:value="A-Z" th:selected="${sort == 'A-Z'}">A-Z</option>
                            <option th:value="Z-A" th:selected="${sort == 'Z-A'}">Z-A</option>
                            <option th:value="priceASC" th:selected="${sort == 'priceASC'}">Precio ascendente</option>
                            <option th:value="priceDESC" th:selected="${sort == 'priceDESC'}">Precio descendente</option>
                        </select>
                        <label for="genero" class="text-light">Buscar Genero</label>
                        <select name="genero" id="genero" class="form-select" onchange="this.form.submit()">
                            <option value="" th:selected="${genero == null}">---</option>
                            <option th:value="Plataforma" th:selected="${genero == 'Plataforma'}">Plataforma</option>
                            <option th:value="Acción" th:selected="${genero == 'Acción'}">Acción</option>
                            <option th:value="Aventura" th:selected="${genero == 'Aventura'}">Aventura</option>
                            <option th:value="Shooter" th:selected="${genero == 'Shooter'}">Shooter</option>
                            <option th:value="RPG" th:selected="${genero == 'RPG'}">RPG</option>
                            <option th:value="J-RPG" th:selected="${genero == 'J-RPG'}">J-RPG</option>
                            <option th:value="Simulación" th:selected="${genero == 'Simulación'}">Simulación</option>
                            <option th:value="Estrategia" th:selected="${genero == 'Estrategia'}">Estrategia</option>
                            <option th:value="Deportes" th:selected="${genero == 'Deportes'}">Deportes</option>
                            <option th:value="Carreras" th:selected="${genero == 'Carreras'}">Carreras</option>
                            <option th:value="Lucha" th:selected="${genero == 'Lucha'}">Lucha</option>
                            <option th:value="Musical" th:selected="${genero == 'Musical'}">Musical</option>
                            <option th:value="Puzle" th:selected="${genero == 'Puzle'}">Puzle</option>
                            <option th:value="Party" th:selected="${genero == 'Party'}">Party</option>
                            <option th:value="Sandbox" th:selected="${genero == 'Sandbox'}">Sandbox</option>
                            <option th:value="Metroidvania" th:selected="${genero == 'Metroidvania'}">Metroidvania</option>
                            <option th:value="MMORPG" th:selected="${genero == 'MMORPG'}">MMORPG</option>
                            <option th:value="Hack" th:selected="${genero == 'Hack'}">Hack</option>
                        </select>
                    </div>
                </div>
            </form>
        </section>
        <section class="container">
            <div class="row">
                <h1 th:if="${juegosProximos.isEmpty()}" class="col-12 text-danger">No hay ningún juego que llegue próximamente de momento</h1>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-light d-flex justify-content-center align-items-center flex-column" th:each="game : ${juegosProximos}">
                    <a th:href="@{/proximamente/reserva/{id} (id=${game.id})}" class="btn btn-light d-flex flex-column justify-content-center align-items-center h-100 w-100">
                        <img src="#" alt="Juego" th:src="${game.rutaImagen}" th:alt="${game.nombre}" class="d-block mb-2" width="150px" height="150px">
                        <h2 th:text="${game.nombre.length() > 20 ? #strings.substring(game.nombre, 0, 20) + '...' : game.nombre}" class="text-center"></h2>
                        <h3 class="text-center" th:text="${game.llegadaAlMercado}"></h3>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>