<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Juegos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
</head>

<body class="bg-dark text-light">
    <main>
        <a href="../templates/addgames.html" th:href="@{/añadirjuego}" class="btn btn-outline-primary my-4">Agregar
            Juego</a>
        <h1 class="text-light mb-4">Lista de Juegos</h1>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <button class="btn btn-outline-light ms-2" type="button">Buscar</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <tr>
                    <th class="text-light">Id</th>
                    <th class="text-light">Nombre</th>
                    <th class="text-light">Descripción</th>
                    <th class="text-light">Precio</th>
                    <th class="text-light">Cantidad</th>
                    <th class="text-light">Ventas</th>
                    <th class="text-light">Nuevo</th>
                    <th class="text-light">Genero</th>
                    <th class="text-light">Número de Jug.</th>
                    <th class="text-light">Plataforma</th>
                    <th class="text-light">Fecha de Lanzamiento</th>
                    <th class="text-light">Llegada a tienda</th>
                    <th class="text-light">Carátula</th>
                    <th colspan="2" class="text-light">Acciones</th>
                </tr>
                <tr th:each="game : ${juego}">
                    <td th:text="${game.id}" class="text-light"></td>
                    <td th:text="${game.nombre}" class="text-light"></td>
                    <td th:text="${game.description}" class="text-light"></td>
                    <td th:text="${game.precio}" class="text-light"></td>
                    <td th:text="${game.cantidad}" class="text-light"></td>
                    <td th:text="${game.ventas}" class="text-light"></td>
                    <td th:text="${game.nuevo}" class="text-light"></td>
                    <td th:text="${game.genero}" class="text-light"></td>
                    <td th:text="${game.numJugadores} == 4 ? '1-4'" class="text-light"></td>
                    <td th:text="${game.plataforma}" class="text-light"></td>
                    <td th:text="${game.fechaLanzamiento}" class="text-light"></td>
                    <td th:text="${game.llegadaAlMercado}" class="text-light"></td>
                    <td><img src="https://art.gametdb.com/wii/cover3D/ES/SMNP01.png?1317736131"
                            th:src="${game.rutaImagen}" alt="Cáratula"></td>
                    <td>
                        <a href="../templates/editgame.html" th:href="@{/mostrarjuego/editar/{id}(id=${game.id})}"
                            class="btn btn-outline-success">Editar</a>
                        <a href="../templates/deletegame.html" th:href="@{/mostrarjuego/{id}(id=${game.id})}"
                            class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>

</html>