@font-face {
    font-family: 'Delfino';
    src: url('../font/Delfino.ttf');
}

* {
    font-family: 'Delfino';
}

input[type=image]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}