<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="container-fluid bg-dark text-light">
	<div class="d-flex justify-content-between align-items-center">
		<p>
			&copy; Todos los derechos reservados a Retro's Games
			<br />
			CEO: Álvaro Lázaro Castellón
			<br />
			Desarrollado por: Álvaro Lázaro Castellón
		</p>
		<p class="d-flex justify-content-around align-items-center">
			<a href="https://www.instagram.com/" class="btn btn-danger"><i class="bi bi-instagram"></i></a>
			<a href="https://www.facebook.com/" class="btn btn-primary"><i class="bi bi-facebook"></i></a>
			<a href="https://www.x.com/" class="btn btn-light"><i class="bi bi-twitter-x"></i></a>
		</p>
	</div>
</footer>
</body>
</html>