<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
</head>
<body>
<header th:fragment="header">
	<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="../main.html" th:href="@{/}">
				<img src="../static/img/Logo/New_Retros_Games_Logo.png" th:src="@{/img/Logo/New_Retros_Games_Logo.png}" alt="Logo" class="rounded" width="50px">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a href="#" th:href="@{/quienessomos}" class="nav-link">¿Quiénes somos?</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Juegos</a>
						<ul class="dropdown-menu bg-danger">
							<li><a class="dropdown-item bg-danger text-light" href="#" th:href="@{/catalogo}">Catálogo</a></li>
							<li><a class="dropdown-item bg-danger text-light" href="#" th:href="@{/novedades}">Novedades</a></li>
							<li><a class="dropdown-item bg-danger text-light" href="#" th:href="@{/próximamente}">Próximamente</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Consolas</a>
						<ul class="dropdown-menu bg-danger">
							<li><a class="dropdown-item bg-danger text-light" href="#" th:href="@{/catalogoconsolas}">Catálogo</a></li>
							<li><a class="dropdown-item bg-danger text-light" href="#" th:href="@{/novedadesconsolas}">Novedades</a></li>
							<li><a class="dropdown-item bg-danger text-light" href="#" th:href="@{/proximamenteconsolas}">Próximamente</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav justify-content-end">
					<li class="nav-link">
						<a href="#" th:href="@{/mostrarjuego}" class="btn btn-outline-light">
							<i class="bi bi-gear-fill"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
</body>
</html>