<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../main.html" th:href="@{/}">
                <img src="../static/img/Logo/New_Retros_Games_Logo.png" th:src="@{/img/Logo/New_Retros_Games_Logo.png}" alt="Logo" class="rounded" width="50px">
            </a>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../showgames.html" th:href="@{/mostrarjuego}">Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../showconsoles.html" th:href="@{/mostrarconsolas}">Consolas</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav me-auto">
                <li class="nav-item text-light">Menú de administrador</li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <section class="offcanvas offcanvas-start text-bg-dark" id="menuLateral" tabindex="-1" aria-labelledby="menuLateralLabel">
        <article class="offcanvas-header">
            <h1 class="offcanvas-title">Menú de Administrador</h1>
            <button type="button" class="btn-close btn-outline-light text-reset text-bg-dark" data-bs-dismiss="offcanvas"><i class="bi bi-x"></i></button>
            <hr />
        </article>
        <article class="offcanvas-body">
            <div class="nav-item">
                <a class="nav-link" href="../showgames.html" th:href="@{/mostrarjuego}">Juegos</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="../showconsoles.html" th:href="@{/mostrarconsolas}">Consolas</a>
            </div>
        </article>
    </section>
</header>
</body>
</html>